@model IEnumerable<ClassLibrary.Writer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yazarlar</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Yeni Yazar Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.writerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.writerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.writerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.writerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.writerID }) |
                @Html.ActionLink("Details", "Details", new { id=item.writerID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.writerID })
            </td>
        </tr>
}
    </tbody>
</table>
