@model ClassLibrary.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryID }) |
    <a asp-action="Index" class="btn btn-outline-secondary">Listeye Geri Dön</a>
</div>
